@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Noto Sans KR", sans-serif;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    background: #d8dcfc;
    border-radius: 0.5rem;
    border-left: 0.15rem solid #eef0ff;
    border-right: 0.15rem solid #eef0ff;
}

::-webkit-scrollbar-thumb:hover {
    background: #b1b9ff;
}

::-webkit-scrollbar-track {
    background: #eef0ff;
    border-radius: 0.25rem;
}
